div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#app-title {
    margin: 0;
    text-align: center;
}

.login-container {
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); //apply box shadow
    max-width: 400px;
    margin: 0 auto; //center form on page
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px; //spacing
}

.login-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; //rounded corners
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); //apply box shadow
}

.signup-container {
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); //apply box shadow
    max-width: 400px;
    margin: 0 auto; //center form on page
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px; //spacing
}

.signup-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; //rounded corners
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); //apply box shadow
}